.task-profile-picture {
  width: 40px;
}

.btn-eliminar {
  background-color: #e90074;
  border-color: #e90074;
}

.btn-eliminar:hover {
  background-color: #ff4191;
  border-color: #ff4191;
}

.btn-editar {
  background-color: #ebd3f8;
  border-color: #ebd3f8;
}

.btn-editar:hover {
  background-color: #ad49e1;
  border-color: #ad49e1;
}
